.App {
  text-align: center;
  height: 100vh;
  background-color: #222222;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(242, 255, 55), rgb(136, 136, 136));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

p {
  font-size: 20px;
  color: white;
}

span {
  font-weight: bold;
}

a {
  font-weight: bold;
  color: rgb(119, 126, 23);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.activityName {
  font-size: 3rem;
}

@media (max-width: 1000px) {
  .activityName {
    font-size: 2.1rem;
  }
}
